/**
  Default variables:
*/
/**
  In this file we will describe variables for sass.
*/
/**
  Describe fields.
 */
input {
  outline: none; }

h1 {
  font-family: "Josefin Sans";
  font-weight: 700;
  text-transform: uppercase; }
  h1 a {
    color: #ffffff; }
  @media (max-width: 768px) {
    h1 {
      font-size: 20px; } }
  @media (min-width: 768px) {
    h1 {
      font-size: 25px; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 55px; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 60px; } }

@media (max-width: 768px) {
  h2 {
    font-size: 18px; } }

@media (min-width: 992px) {
  h2 {
    font-size: 28px; } }

@media (min-width: 1200px) {
  h2 {
    font-size: 30px; } }

h3 {
  min-height: 20px;
  color: #393c41;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    h3 {
      font-size: 18px; } }
  h3 a {
    color: #393c41; }
  h3 a:hover {
    color: #2ecc71;
    text-decoration: none; }

p {
  color: #bbbbbb;
  font-weight: 600; }
  @media (max-width: 768px) {
    p {
      font-size: 12px; } }
  @media (min-width: 768px) {
    p {
      font-size: 13px; } }
  @media (min-width: 992px) {
    p {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    p {
      font-size: 16px; } }

.layout-content .block-title {
  background-image: url(../images/rectangle-1.png);
  background-size: cover;
  font-size: 50px;
  font-weight: 700;
  height: 116px;
  width: 306px;
  text-align: center;
  color: white; }
  @media (max-width: 992px) {
    .layout-content .block-title {
      line-height: 46.4px;
      height: 46.4px;
      width: 122.4px;
      font-size: 22px;
      margin: 20px auto; } }
  @media (min-width: 993px) {
    .layout-content .block-title {
      height: 116px;
      width: 306px;
      line-height: 116px;
      font-size: 50px;
      margin: 50px auto; } }
  @media (min-width: 1200px) {
    .layout-content .block-title {
      height: 116px;
      line-height: 116px;
      width: 306px;
      font-size: 50px;
      margin: 50px auto; } }

.email,
.location,
.telephone {
  padding: 5px 0; }

.field-position {
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 700; }
  @media (max-width: 992px) {
    .field-position {
      font-size: 13px; } }

.white-paragraph p {
  color: white;
  font-size: 18px; }
  @media (max-width: 768px) {
    .white-paragraph p {
      font-size: 12px; } }
  @media (min-width: 768px) {
    .white-paragraph p {
      font-size: 13px; } }
  @media (min-width: 992px) {
    .white-paragraph p {
      font-size: 16px; } }
  @media (min-width: 1200px) {
    .white-paragraph p {
      font-size: 18px; } }

.social-link {
  visibility: hidden;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 0;
  text-align: center;
  background-color: rgba(46, 204, 113, 0.6); }
  .social-link li {
    padding: 50% 0;
    text-align: center;
    display: inline-block;
    margin: -20px 2% 2% 0; }
  .social-link a {
    display: block;
    color: white;
    font-size: 1.5em;
    width: 30px;
    margin: 0 auto;
    position: relative; }
    .social-link a i {
      background-color: #2ecc71;
      margin: 0 auto;
      height: 30px;
      line-height: 30px;
      display: block; }
  .social-link a:hover {
    color: white; }

.social-link-footer {
  line-height: 40px;
  padding-left: 0; }
  .social-link-footer li {
    display: inline-block;
    text-align: center; }
  .social-link-footer li:hover {
    background-color: #f85993; }
  .social-link-footer a {
    display: block;
    color: white;
    font-size: 17px;
    height: 40px;
    width: 40px;
    margin: 5px; }
  .social-link-footer a:hover {
    color: white; }

.field-price {
  color: #393c41;
  font-weight: 700;
  font-size: 50px; }
  @media (max-width: 992px) {
    .field-price {
      font-size: 18px; } }

.per-mouth,
.dollar {
  display: inline-block;
  font-size: 24px; }
  @media (max-width: 992px) {
    .per-mouth,
    .dollar {
      font-size: 10px; } }

.apostrophe {
  color: #94bad7;
  font-size: 150px;
  font-weight: 700; }

.category {
  font-size: 14px; }

.category a:after {
  content: " /"; }

.category:last-child a:after {
  content: " "; }

.label {
  color: #393c41;
  font-weight: 700; }
  @media (max-width: 768px) {
    .label {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .label {
      font-size: 16px; } }
  @media (min-width: 992px) {
    .label {
      font-size: 20px; } }
  @media (min-width: 1200px) {
    .label {
      font-size: 20px; } }

.email-field {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 70%;
  margin: 15px 0;
  padding: 3px 0; }
  @media (max-width: 992px) {
    .email-field {
      width: 100%; } }

footer > p > a[href='#recent-works'] {
  display: inline-block;
  padding: 10px 0;
  color: white; }

footer > p > a[href='#recent-works']:hover {
  color: #2ecc71; }

footer > p > a[href='#recent-works']:after {
  content: " >>"; }

/**
  Provides buttons style.
 */
.button, .button-green, .button-white {
  text-align: center; }
  .button a, .button-green a, .button-white a {
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 700; }
    @media (max-width: 992px) {
      .button a, .button-green a, .button-white a {
        padding: 2px 10px;
        font-size: 12px; } }

.button-green a {
  background-color: #2ecc71;
  color: white; }

.button-green a:hover {
  color: white; }

.button-white a {
  border: 3px solid #ffffff;
  color: white; }

@media (max-width: 992px) {
  .button-white a {
    border: 2px solid #ffffff; } }

.button-white a:hover {
  background-color: #2ecc71;
  border: 3px solid #2ecc71;
  color: white; }

.button-black a {
  display: inline-block;
  border: 3px solid #393c41;
  padding: 10px 40px;
  color: #393c41;
  font-size: 18px;
  font-weight: 700; }

@media (max-width: 992px) {
  .button-black {
    border: 2px solid #393c41;
    padding: 2px 10px; }
    .button-black a {
      font-size: 12px; } }

.button-black a:hover {
  color: white;
  background-color: #393c41; }

.button-close {
  line-height: 0;
  display: none; }
  @media (max-width: 992px) {
    .button-close {
      display: block; } }

/**
  Provides styling for views.
 */
.recent-news-mini .toggle-news-mini {
  position: relative;
  margin-bottom: 20px; }

.recent-news-mini .search-news {
  position: absolute;
  display: block;
  visibility: hidden;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 10% 0;
  text-align: center;
  background-color: rgba(46, 204, 113, 0.6);
  transform: translate(-50%, -50%); }

.recent-news-mini h3 {
  margin-top: 0;
  text-transform: uppercase; }
  .recent-news-mini h3 a {
    color: white; }

.recent-news-mini img {
  height: auto;
  width: 100%; }

.news, .team, .skills {
  width: 80% !important;
  margin: 30px auto; }

@media (max-width: 992px) {
  .news article, .team article, .rec-works article {
    padding: 0 10%; }
  .price article {
    padding: 0 20%; }
  .news, .team, .price {
    width: 95% !important;
    margin: 30px auto; }
  .rec-works .no-indents {
    padding: 0 15px; }
  .rec-works > div {
    width: 95% !important;
    margin: 30px auto !important; } }

.team h2 {
  margin-top: 0; }

@media (max-width: 992px) {
  .team h2 {
    margin-top: 20px; } }

.team .toggle-item-team {
  position: relative; }

.team img {
  width: 100%;
  height: auto; }

.news img {
  width: 100%;
  height: auto; }

.news .toggle-item-news {
  position: relative; }
  .news .toggle-item-news a {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: rgba(46, 204, 113, 0.6);
    padding: 10% 0; }

.price-panels {
  background-color: #eaeaea;
  text-align: center; }
  @media (max-width: 992px) {
    .price-panels {
      padding-bottom: 15px; } }
  @media (min-width: 992px) {
    .price-panels {
      padding-bottom: 25px; } }
  @media (min-width: 1200px) {
    .price-panels {
      padding-bottom: 35px; } }
  .price-panels h2 {
    text-transform: uppercase;
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0; }
  .price-panels .price-image {
    position: relative; }
    .price-panels .price-image img {
      width: 100%;
      height: auto; }
  .price-panels .field-item {
    margin: 20px 0;
    font-size: 16px;
    line-height: 1.9; }
    @media (max-width: 992px) {
      .price-panels .field-item {
        margin: 10px 0;
        font-size: 10px; } }

.testimonials {
  height: 700px;
  background-color: #d2d8de; }
  .testimonials .testimonials-content {
    padding: 0 10%; }
    .testimonials .testimonials-content p {
      color: #878f9c;
      font-style: italic; }
  .testimonials .testimonials-photo {
    height: 700px; }
    .testimonials .testimonials-photo img {
      position: absolute;
      bottom: 0;
      right: 10%;
      height: 90%;
      width: auto; }

.block-partners {
  background-image: url(../images/partners-back.png);
  background-size: cover; }
  .block-partners img {
    margin: 20% auto;
    height: auto;
    width: 60% !important; }
    @media (max-width: 992px) {
      .block-partners img {
        margin: 40% auto; } }

.dark-background {
  visibility: hidden;
  width: 100%;
  position: absolute;
  height: 100%; }
  .dark-background .layout {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.4;
    background-color: #bbbbbb; }

.rec-works {
  margin-left: 0;
  margin-right: 0; }

.recent-works-content {
  position: absolute;
  bottom: 30px;
  left: 30px; }
  .recent-works-content h4,
  .recent-works-content a {
    font-weight: 700;
    color: white; }

.about-us img {
  position: absolute;
  top: 70px;
  left: 70px;
  width: 400px;
  height: auto; }

.about-us .green-layout {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #2ecc71; }

/**
  Override properties provides libraries.
 */
.owl-carousel .owl-item img {
  height: auto !important; }

.fa-search,
.fa-shopping-cart {
  color: white;
  font-size: 18px !important;
  padding: 10px;
  display: block;
  cursor: pointer; }

@media (max-width: 992px) {
  .fa-search,
  .fa-shopping-cart {
    padding: 3px;
    font-size: 20px !important; } }

.fa-camera,
.fa-desktop,
.fa-comments {
  display: inline-block;
  font-size: 50px !important;
  color: #2ecc71;
  border: 3px solid #2ecc71;
  height: 100px;
  width: 100px;
  line-height: 100px !important;
  border-radius: 50%;
  margin-bottom: 20px; }

.fa-camera:hover,
.fa-desktop:hover,
.fa-comments:hover {
  background-color: #2ecc71;
  color: white; }

.fa-times {
  font-size: 30px !important;
  cursor: pointer; }

.fa-bars {
  line-height: 50px !important;
  color: white;
  font-size: 30px !important; }

.navbar {
  margin-bottom: 0; }

.slick-slide {
  outline: none !important; }

.slick-arrow-custom, .slick-prev-custom, .slick-next-custom {
  z-index: 999;
  position: absolute;
  top: 50%;
  display: inline-block !important;
  width: 35px;
  height: 35px;
  line-height: 30px !important;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 20px !important;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;
  text-align: center; }

.slick-prev-custom {
  left: 0; }

.slick-next-custom {
  right: 0; }

.fa-search-second {
  font-size: 25px !important; }

.main-menu, .navbar {
  padding-left: 0; }
  .main-menu li, .navbar li {
    display: inline-block;
    padding: 0 20px; }
    .main-menu li a, .navbar li a {
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 1.1em;
      font-weight: 700;
      text-transform: uppercase; }
    .main-menu li a:hover, .navbar li a:hover {
      color: #2ecc71; }
    .main-menu li a:active, .navbar li a:active {
      color: #2ecc71; }

@media (max-width: 992px) {
  .header-top li {
    padding: 30px 15px;
    text-align: left;
    display: block;
    line-height: 0;
    border-bottom: 1px solid #bbbbbb; }
    .header-top li a {
      color: black; }
  .header-top li:nth-last-child(1) {
    border-bottom: none; } }

html {
  min-width: 320px !important; }

body {
  font-family: 'Josefin Sans'; }

.layout-content-normal {
  width: 80%;
  margin: 50px auto; }
  .layout-content-normal img {
    max-width: 100%;
    height: auto; }

footer {
  background-color: #14151a;
  color: white; }
  footer .row {
    margin-left: 0;
    margin-right: 0; }

@media (max-width: 992px) {
  .footer-top {
    padding: 10px 1%; } }

@media (min-width: 992px) {
  .footer-top {
    padding: 50px 2%; } }

@media (min-width: 1200px) {
  .footer-top {
    padding: 100px 3%; } }

.footer-bottom {
  background-color: black; }
  .footer-bottom > div {
    height: 60px;
    line-height: 60px; }
  @media (max-width: 992px) {
    .footer-bottom {
      padding: 10px 1%; }
      .footer-bottom > div {
        text-align: center;
        height: auto;
        line-height: 1; }
      .footer-bottom .button-close {
        display: none; }
      .footer-bottom li {
        padding: 15px;
        display: block; }
        .footer-bottom li a {
          font-size: 15px; } }
  @media (min-width: 992px) {
    .footer-bottom {
      padding: 20px 5%; } }

.footer-title {
  text-align: right; }

.header-top {
  z-index: 99;
  margin: 0;
  width: 100%; }
  .header-top .header-search,
  .header-top .header-brand,
  .header-top .header-nav {
    height: 100px;
    line-height: 100px; }
  @media (max-width: 992px) {
    .header-top {
      padding: 0; }
      .header-top .header-search {
        padding-right: 10px; }
      .header-top .header-hmbr {
        padding-left: 10px; }
      .header-top .header-search,
      .header-top .header-brand,
      .header-top .header-hmbr {
        height: 50px;
        line-height: 50px; }
      .header-top .header-nav {
        height: auto; } }
  @media (min-width: 993px) {
    .header-top {
      padding: 0 5%; } }
  @media (min-width: 1200px) {
    .header-top {
      padding: 0 10%; } }

.header-top-active {
  background-color: #333;
  z-index: 1000; }

.header-brand {
  text-align: left; }

.header-nav {
  text-align: center; }

@media (max-width: 992px) {
  .header-nav {
    position: absolute;
    background: white;
    display: none; } }

.header-search {
  height: 100%; }
  .header-search > div {
    float: right; }

.layout-content .views-element-container {
  padding: 3% 0; }

.site-branding {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Poller One', cursive;
  font-weight: 400;
  text-transform: uppercase; }

.slider-photo {
  max-height: 95vh;
  overflow: hidden; }
  @media (max-width: 992px) {
    .slider-photo {
      height: auto;
      width: 130vw; } }
  .slider-photo img {
    width: 100%;
    height: auto; }

.slider-content-custom {
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 50%; }
  .slider-content-custom p {
    padding: 0 31%;
    margin: 30px 0; }
  @media (max-width: 992px) {
    .slider-content-custom p {
      padding: 0;
      margin: 5px 0; } }

.black-background {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 100%;
  cursor: pointer; }

ul li {
  list-style: none; }

.full-width img {
  width: 100%;
  height: 100%; }

.no-indents {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

.vertical-indents {
  margin: 15px 0; }

a {
  color: #2ecc71; }

a:hover {
  color: #2ecc71;
  text-decoration: none; }

.green-line {
  width: 15%;
  height: 4px;
  background-color: #2ecc71;
  border-top: none;
  border-bottom: 2px solid #2eaa71; }
  @media (max-width: 992px) {
    .green-line {
      height: 2px;
      margin-top: 0;
      margin-bottom: 0; } }

.short {
  width: 35%; }

.extra-short {
  width: 50px; }
  @media (max-width: 992px) {
    .extra-short {
      margin: 6px auto; } }
  @media (min-width: 992px) {
    .extra-short {
      margin: 9px 0; } }
  @media (min-width: 1200px) {
    .extra-short {
      margin: 10px 0; } }

.photo-fulid,
.image-fluid {
  width: 100%; }
  .photo-fulid img,
  .image-fluid img {
    width: 100%;
    height: auto; }

.toggle-item {
  position: relative; }
  .toggle-item img {
    height: auto;
    width: 100%; }

.block-searchform {
  float: left; }

.search-block {
  display: none; }
  .search-block div {
    line-height: 50px; }
  @media (max-width: 992px) {
    .search-block {
      position: fixed;
      left: 50%;
      transform: translate(-50%, 0%);
      width: 100%; }
      .search-block .form-item {
        width: 80%; }
      .search-block .form-wrapper {
        width: 20%; }
      .search-block .form-height, .search-block #edit-keys, .search-block .button, .search-block .button-green, .search-block .button-white {
        height: 50px;
        line-height: 50px;
        width: 100%; } }
  @media (min-width: 993px) {
    .search-block {
      position: fixed;
      right: 30px;
      width: auto; }
      .search-block .form-height, .search-block #edit-keys, .search-block .button, .search-block .button-green, .search-block .button-white {
        height: 30px;
        line-height: 30px;
        width: 100%; } }
  .search-block #edit-keys {
    border: 1px solid #393c41;
    padding: 0 15px; }
  .search-block .form-wrapper, .search-block .form-item {
    float: left; }
  .search-block .button, .search-block .button-green, .search-block .button-white {
    background-color: #333;
    color: white;
    border: none;
    padding: 0 10px; }
  .search-block #edit-submit:hover {
    background-color: #393c41; }

.block-basket {
  float: left; }

.cart-item {
  color: white;
  height: 20px;
  width: 20px;
  line-height: 23px;
  text-align: center;
  background-color: #2ecc71;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  display: inline-block; }

.small-square {
  margin-top: -30px;
  width: 8px;
  height: 8px;
  background-color: white; }

.slick-active .small-square {
  background-color: #2ecc71; }

.join-field-green-line {
  border-left: 3px solid #2ecc71;
  margin: 35px 0; }
  @media (max-width: 992px) {
    .join-field-green-line {
      font-size: 13px; } }
  @media (min-width: 993px) {
    .join-field-green-line {
      font-size: 19px; } }
  @media (min-width: 1200px) {
    .join-field-green-line {
      font-size: 20px; } }

.form-radios {
  text-align: center;
  margin: 0 auto;
  width: 80%; }
  .form-radios .form-item {
    display: inline-block; }
  .form-radios label {
    text-transform: uppercase;
    margin: 20px 15px;
    cursor: pointer; }
  .form-radios label:hover {
    color: #2ecc71; }
  .form-radios input {
    display: none; }
  .form-radios input:checked + label {
    color: #2ecc71; }

.back-to-top {
  width: 50px;
  height: 43px;
  background: url(../images/back-to-top.png);
  background-size: cover;
  display: block;
  position: absolute;
  margin-left: -25px;
  margin-top: -25px;
  left: 50%; }

.back-to-top:hover {
  margin-top: -20px; }

.active {
  color: #2ecc71 !important; }

@media (max-width: 768px) {
  .text-xs-left {
    text-align: left; }
  .text-xs-right {
    text-align: right; }
  .text-xs-center {
    text-align: center; }
  .text-xs-justify {
    text-align: justify; } }

@media (min-width: 768px) {
  .text-sm-left {
    text-align: left; }
  .text-sm-right {
    text-align: right; }
  .text-sm-center {
    text-align: center; }
  .text-sm-justify {
    text-align: justify; } }

@media (min-width: 992px) {
  .text-md-left {
    text-align: left; }
  .text-md-right {
    text-align: right; }
  .text-md-center {
    text-align: center; }
  .text-md-justify {
    text-align: justify; } }

@media (min-width: 1200px) {
  .text-lg-left {
    text-align: left; }
  .text-lg-right {
    text-align: right; }
  .text-lg-center {
    text-align: center; }
  .text-lg-justify {
    text-align: justify; } }
