/**
  Provides buttons style.
 */
.button {
  text-align: center;
  a {
    display: inline-block;
    padding: 10px 35px;
    font-size: 18px;
    font-weight: 700;
    @media (max-width: $screen-md-min) {
      padding: 2px 10px;
      font-size: 12px;
    }
  }


}
.button-green {
  @extend .button;
  a {
    background-color: $green;
    color: white;
  }
  a:hover {
    color: white;
  }
}
.button-white {
  @extend .button;
  a {
    border: 3px solid #ffffff;
    color: white;
  }
  @media (max-width: $screen-md-min) {
    a {
      border: 2px solid #ffffff;
    }
  }
  a:hover {
    background-color: $green;
    border: 3px solid $green;
    color: white;
  }
}

.button-black {
  a {
    display: inline-block;
    border: 3px solid $light-dark;
    padding: 10px 40px;
    color: $light-dark;
    font-size: 18px;
    font-weight: 700;
  }
  @media (max-width: $screen-md-min) {
    border: 2px solid $light-dark;
    padding: 2px 10px;
    a {
      font-size: 12px;
    }
  }
  a:hover {
    color: white;
    background-color: $light-dark;
  }
}
.button-close {
  line-height: 0;
  display: none;
  @media (max-width: $screen-md-min) {
    display: block;
  }
}