/**
  In this file we will describe variables for sass.
*/
$light-dark: #393c41;
$header-color: #333;
$green: #2ecc71;
$gray: #eaeaea;
$gray-dark: #bbbbbb;
$gray-background: #d2d8de;
$black-light: #878f9c;
$pink: #f85993;

$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;