/**
  Describe fields.
 */
input {outline:none;}
h1 {
  font-family: "Josefin Sans";
  font-weight: 700;
  text-transform: uppercase;
  a {
    color: #ffffff;
  }
  @media (max-width: $screen-sm-min) {
    font-size: 20px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 25px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 55px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 60px;
  }
}
h2 {
  @media (max-width: $screen-sm-min) {
    font-size: 18px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 28px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 30px;
  }
}
h3 {
  min-height: 20px;
  color: $light-dark;
  font-size: 24px;
  @media (max-width: $screen-sm-min) {
    font-size: 18px;
  }
  font-weight: 700;
  text-transform: uppercase;
  a {
    color: $light-dark;
  }
  a:hover {
    color: $green;
    text-decoration: none;
  }
}
p {
  color: #bbbbbb;
  font-weight: 600;
  @media (max-width: $screen-sm-min) {
    font-size: 12px;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 13px;
  }
  @media (min-width: $screen-md-min) {
    font-size: 14px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 16px;
  }

}
.layout-content .block-title {
  background-image: url(../images/rectangle-1.png);
  background-size: cover;
  font-size: 50px;
  font-weight: 700;
  height: 116px;
  width: 306px;
  text-align: center;
  color: white;
  @media (max-width: $screen-md-min) {
    line-height: 116px*0.4;
    height: 116px*0.4;
    width: 306px*0.4;
    font-size: 22px;
    margin: 50px*0.4 auto;
  }
  @media (min-width: $screen-md-min+1) {
    height: 116px;
    width: 306px;
    line-height: 116px;
    font-size: 50px;
    margin: 50px auto;
  }
  @media (min-width: $screen-lg-min) {
    height: 116px;
    line-height: 116px;
    width: 306px;
    font-size: 50px;
    margin: 50px auto;
  }
}
.email,
.location,
.telephone {
  padding: 5px 0;
}

.field-position {
  color: $gray-dark;
  font-size: 16px;
  font-weight: 700;
  @media (max-width: $screen-md-min) {
    font-size: 13px;
  }
}
.white-paragraph {
  p {
    color: white;
    font-size: 18px;
    @media (max-width: $screen-sm-min) {
      font-size: 12px;
    }
    @media (min-width: $screen-sm-min) {
      font-size: 13px;
    }
    @media (min-width: $screen-md-min) {
      font-size: 16px;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 18px;
    }
  }
}
.social-link {
  visibility: hidden;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  padding-left: 0;
  text-align: center;
  background-color: rgba(46, 204, 113, 0.6);
  li {
    padding: 50% 0;
    text-align: center;
    display: inline-block;
    margin: -20px 2% 2% 0;

  }
  a {
    display: block;
    color: white;
    font-size: 1.5em;
    width: 30px;
    margin: 0 auto;
    position: relative;
    i {
      background-color: $green;
      margin: 0 auto;
      height: 30px;
      line-height: 30px;
      display: block;
    }
  }
  a:hover {
    color: white;
  }
}

.social-link-footer {
  line-height: 40px;
  padding-left: 0;
  li {
    display: inline-block;
    text-align: center;
  }
  li:hover {
    background-color: $pink;
  }
  a {
    display: block;
    color: white;
    font-size: 17px;
    height: 40px;
    width: 40px;
    margin: 5px;
  }
  a:hover {
    color: white;
  }
}

.field-price {
  color: #393c41;
  font-weight: 700;
  font-size: 50px;
  @media (max-width: $screen-md-min) {
    font-size: 18px;
  }
}
.per-mouth,
.dollar {
  display: inline-block;
  font-size: 24px;
  @media (max-width: $screen-md-min) {
    font-size: 10px;
  }
}
.apostrophe {
  color: #94bad7;
  font-size: 150px;
  font-weight: 700;
}
.category {
  font-size: 14px;
}
.category {
  a:after {
    content: " /";
  }
}
.category:last-child {
  a:after {
    content: " ";
  }
}
.label {
  color: $light-dark;
  font-weight: 700;

  @media (max-width: $screen-sm-min) {
    font-size: 20px*0.7;
  }
  @media (min-width: $screen-sm-min) {
    font-size: 20px*0.8;
  }
  @media (min-width: $screen-md-min) {
    font-size: 20px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 20px;
  }
}

.email-field {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  width: 70%;
  @media (max-width: $screen-md-min) {
    width: 100%;
  }
  margin: 15px 0;
  padding: 3px 0;
}
footer > p > a[href='#recent-works'] {
  display: inline-block;
  padding: 10px 0;
  color: white;
}
footer > p > a[href='#recent-works']:hover {
  color: $green;
}
footer > p > a[href='#recent-works']:after {
  content: " >>";
}