
.main-menu, .navbar {
  padding-left: 0;
  li {
    display: inline-block;
    padding: 0 20px;
    a {
      color: #ffffff;
      font-family: "Josefin Sans";
      font-size: 1.1em;
      font-weight: 700;
      text-transform: uppercase;
    }
    a:hover {
      color: $green;
    }
    a:active {
      color: $green;
    }
  }
}
.header-top {
  @media (max-width: $screen-md-min) {
    li {
      padding: 30px 15px;
      text-align: left;
      display: block;
      line-height: 0;
      border-bottom: 1px solid $gray-dark;
      a {
        color: black;
      }
    }
    li:nth-last-child(1) {
      border-bottom: none;
    }
  }
}


