/**
  Override properties provides libraries.
 */
.owl-carousel .owl-item img {
  height: auto !important;
}

.fa-search,
.fa-shopping-cart {
  color: white;
  font-size: 18px !important;
  padding: 10px;
  display: block;
  cursor: pointer;
}
@media (max-width: $screen-md-min) {
  .fa-search,
  .fa-shopping-cart {
    padding: 3px;
    font-size: 20px !important;
  }
}
.fa-camera,
.fa-desktop,
.fa-comments {
  display: inline-block;
  font-size: 50px !important;
  color: $green;
  border: 3px solid $green;
  height: 100px;
  width: 100px;
  line-height: 100px !important;
  border-radius: 50%;
  margin-bottom: 20px;
}
.fa-camera:hover,
.fa-desktop:hover,
.fa-comments:hover {
  background-color: $green;
  color: white;
}
.fa-times {
  font-size: 30px !important;
  cursor: pointer;
}
.fa-bars {
  line-height: 50px !important;
  color: white;
  font-size: 30px !important;
}
.navbar {
  margin-bottom: 0;
}
.slick-slide {
  outline: none !important;
}
.slick-arrow-custom {
  z-index: 999;
  position: absolute;
  top: 50%;
  display: inline-block !important;
  width: 35px;
  height: 35px;
  line-height: 30px !important;
  border: 2px solid black;
  border-radius: 50%;
  font-size: 20px !important;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;
  text-align: center;
}
.slick-prev-custom {
  @extend .slick-arrow-custom;
  left: 0;
}
.slick-next-custom {
  @extend .slick-arrow-custom;
  right: 0;
}
.fa-search-second {
  font-size: 25px !important;
}