/**
  Provides styling for views.
 */
.recent-news-mini {
  .toggle-news-mini {
    position: relative;
    margin-bottom: 20px;
  }
  .search-news {
    position: absolute;
    display: block;
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 10% 0;
    text-align: center;
    background-color: rgba(46, 204, 113, 0.6);
    transform: translate(-50%, -50%);
  }
  h3 {
    a {
      color: white;
    }
    margin-top: 0;
    text-transform: uppercase;
  }
  img {
    height: auto;
    width: 100%;
  }
}

.news, .team, .skills {
  width: 80% !important;
  margin: 30px auto;
}
@media (max-width: $screen-md-min) {
  .news, .team, .rec-works {
    article {
      padding: 0 10%;
    }
  }
  .price {
    article {
      padding: 0 20%;
    }
  }
  .news, .team, .price {
    width: 95% !important;
    margin: 30px auto;
  }
  .rec-works {
    .no-indents {
      padding: 0 15px; // Default bootstrap indents.
    }
     > div {
      width: 95% !important;
      margin: 30px auto !important;
    }
  }
}
.team {
  h2 {
    margin-top: 0;
  }
  @media (max-width: $screen-md-min) {
    h2 {
      margin-top: 20px;
    }
  }
  .toggle-item-team {
    position: relative;
  }
  img {
    width: 100%;
    height: auto;
  }
}
.news {
  img {
    width: 100%;
    height: auto;
  }
  .toggle-item-news {
    position: relative;
    a {
      visibility: hidden;
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      display: block;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      background-color: rgba(46, 204, 113, 0.6);
      padding: 10% 0;
    }
  }
}
.price-panels {
  background-color: $gray;

  @media (max-width: $screen-md-min) {
    padding-bottom: 15px;
  }
  @media (min-width: $screen-md-min) {
    padding-bottom: 25px;
  }
  @media (min-width: $screen-lg-min) {
    padding-bottom: 35px;
  }
  text-align: center;

  h2 {
    text-transform: uppercase;
    color: white;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }
  .price-image {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }

  .field-item {
    margin: 20px 0;
    @media (max-width: $screen-md-min) {
      margin: 10px 0;
      font-size: 10px;
    }
    font-size: 16px;
    line-height: 1.9;
  }
}
.testimonials {
  height: 700px;
  background-color: $gray-background;
  .testimonials-content {
    padding: 0 10%;
    p {
      color: $black-light;
      font-style: italic;
    }
  }
  .testimonials-photo {
    height: 700px;
    img {
      position: absolute;
      bottom: 0;
      right: 10%;
      height: 90%;
      width: auto;
    }
  }
}
.block-partners {
  background-image: url(../images/partners-back.png);
  background-size: cover;
  img {
    margin: 20% auto;
    height: auto;
    width: 60% !important;
    @media (max-width: $screen-md-min) {
      margin: 40% auto;
    }
  }
}
.dark-background {
  visibility: hidden;
  width: 100%;
  position: absolute;
  height: 100%;

  .layout {
    width: 100%;
    position: absolute;
    height: 100%;
    opacity: 0.4;
    background-color: $gray-dark;
  }
}
.rec-works {
  margin-left: 0;
  margin-right: 0;
}
.recent-works-content {
  position: absolute;
  bottom: 30px;
  left: 30px;
  h4,
  a {
    font-weight: 700;
    color: white;
  }
}
.about-us {
  img {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 400px;
    height: auto;
  }
  .green-layout {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: $green;
  }
}
