/**
  Default variables:
*/
@import "default-variables";
@import "_field";
@import "_button";
@import "_views";
@import "_override";
@import "_menu";

html {
  min-width: 320px !important;
}
body {
  font-family: 'Josefin Sans';
}
.layout-content-normal {
  width: 80%;
  margin: 50px auto;
  img {
    max-width: 100%;
    height: auto;
  }
}
footer {
  background-color: #14151a;
  color: white;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.footer-top {
  @media (max-width: $screen-md-min) {
    padding: 10px 1%;
  }
  @media (min-width: $screen-md-min) {
    padding: 50px 2%;
  }
  @media (min-width: $screen-lg-min) {
    padding: 100px 3%;
  }

}
.footer-bottom {
  > div {
    height: 60px;
    line-height: 60px;
  }
  background-color: black;
  @media (max-width: $screen-md-min) {
    padding: 10px 1%;
    > div {
      text-align: center;
      height: auto;
      line-height: 1;
    }
    .button-close {
      display: none;
    }

    li {
      padding: 15px;
      display: block;
      a {
        font-size: 15px;
      }
    }
  }
  @media (min-width: $screen-md-min) {
    padding: 20px 5%;
  }
}
.footer-title {
  text-align: right;
}
.header-top {
  .header-search,
  .header-brand,
  .header-nav {
    height: 100px;
    line-height: 100px;
  }

  @media (max-width: $screen-md-min) {
    padding: 0;
    .header-search {
      padding-right: 10px;
    }
    .header-hmbr{
      padding-left: 10px;
    }
    .header-search,
    .header-brand,
    .header-hmbr{
      height: 50px;
      line-height: 50px;
    }
  .header-nav {
    height: auto;
  }

  }
  @media (min-width: $screen-md-min+1) {
    padding: 0 5%;
  }
  @media (min-width: $screen-lg-min) {
    padding: 0 10%;
  }
  z-index: 99;
  margin: 0;
  width: 100%;
}
.header-top-active {
  background-color: $header-color;
  z-index: 1000;
}
.header-brand {
  text-align: left;
}
.header-nav {
  text-align: center;
}
@media (max-width: $screen-md-min) {
  .header-nav {
    position: absolute;
    background: white;
    display: none;
  }
}

.header-search {
  > div {
    float: right;
  }
  height: 100%;
}

.layout-content {
  .views-element-container {
    padding: 3% 0;
  }
}

.site-branding {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Poller One', cursive;
  font-weight: 400;
  text-transform: uppercase;
}
.slider-photo {
  max-height: 95vh;
  @media (max-width: $screen-md-min) {
    height: auto;
    width: 130vw;
  }
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
.slider-content-custom {
  width: 80%;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 50%;
  left: 50%;
  p {
    padding: 0 31%;
    margin: 30px 0;
  }
  @media (max-width: $screen-md-min) {
    p {
      padding: 0;
      margin: 5px 0;
    }
  }
}
.black-background {
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  width: 100%;
  position: absolute;
  height: 100%;
  cursor: pointer;
}

ul {
  li {
    list-style: none;
  }
}
.full-width {
  img {
    width: 100%;
    height: 100%;
  }
}
.no-indents {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.vertical-indents {
  margin: 15px 0;
}
a {
  color: $green;
}
a:hover {
  color: $green;
  text-decoration: none;
}
.green-line {
  width: 15%;
  height: 4px;
  background-color: $green;
  border-top: none;
  border-bottom: 2px solid #2eaa71;
  @media (max-width: $screen-md-min) {
    height: 2px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.short {
  width: 35%;
}
.extra-short {
  width: 50px;

  @media (max-width: $screen-md-min) {
    margin: 6px auto;
  }
  @media (min-width: $screen-md-min) {
    margin: 9px 0;
  }
  @media (min-width: $screen-lg-min) {
    margin: 10px 0;
  }
}
.photo-fulid,
.image-fluid {
  width: 100%;
  img {
    width: 100%;
    height: auto;
  }
}
.toggle-item {
  position: relative;
  img {
    height: auto;
    width: 100%;
  }
}
.block-searchform {
  float: left;
}
.search-block {
  div {
    line-height: 50px;
  }
  @media (max-width: $screen-md-min) {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    .form-item {
      width: 80%;
    }
    .form-wrapper {
      width: 20%;
    }
    .form-height {
      height: 50px;
      line-height: 50px;
      width: 100%;
    }
  }
  @media (min-width: $screen-md-min+1) {
    position: fixed;
    right: 30px;
    width: auto;
    .form-height {
      height: 30px;
      line-height: 30px;
      width: 100%;
    }
  }
  display: none;
  #edit-keys {
    @extend .form-height;
    border: 1px solid $light-dark;
    padding: 0 15px;
  }
  .form-wrapper, .form-item {
    float: left;
  }
  .button {
    @extend .form-height;
    background-color: $header-color;
    color: white;
    border: none;
    padding: 0 10px;
  }
  #edit-submit:hover {
    background-color: $light-dark;
  }
}
.block-basket {
  float: left;
}
.cart-item {
  color: white;
  height: 20px;
  width: 20px;
  line-height: 23px;
  text-align: center;
  background-color: $green;
  border-radius: 50%;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
}

.small-square {
  margin-top: -30px;
  width: 8px;
  height: 8px;
  background-color: white;
}
.slick-active {
  .small-square {
    background-color: $green;
  }
}
.join-field-green-line {
  border-left: 3px solid $green;
  margin: 35px 0;
  @media (max-width: $screen-md-min) {
    font-size: 13px;
  }
  @media (min-width: $screen-md-min+1) {
    font-size: 19px;
  }
  @media (min-width: $screen-lg-min) {
    font-size: 20px;
  }

}
.form-radios {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  .form-item {
    display: inline-block;
  }
  label {
    text-transform: uppercase;
    margin: 20px 15px;
    cursor: pointer;
  }
  label:hover {
    color: $green;
  }
  input {
    display: none;
  }
  input:checked + label {
    color: $green;
  }
}
.back-to-top {
  width: 50px;
  height: 43px;
  background: url(../images/back-to-top.png);
  background-size: cover;
  display: block;
  position: absolute;
  margin-left: -25px;
  margin-top: -25px;
  left: 50%;
}
.back-to-top:hover {
  margin-top: -20px;
}
.active {
  color: $green !important;
}
@media (max-width: $screen-sm-min) {
  .text-xs-left { text-align: left; }
  .text-xs-right { text-align: right; }
  .text-xs-center { text-align: center; }
  .text-xs-justify { text-align: justify; }
}

@media (min-width: $screen-sm-min) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: $screen-md-min) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: $screen-lg-min) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}