{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_nav: Header navigation.
 * - page.header: Items for the header region.
 * - page.highlighted: Items for Drupal messages.
 * - page.content: Items for content.
 * - page.footer: Items for footer
 * - page.footer_nav: Footer navigation.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup themeable
 */
#}
<div class="layout-container">
  <div class = "container-fluid">
    <div class = "row header-top navbar-fixed-top"  id="myPage">
      <div class = "header-hmbr hidden-lg hidden-md col-sm-3 col-xs-3 text-left no-indents">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
      {% if page.header_brand %}
        <div class = "col-lg-2 col-md-2 col-sm-6 col-xs-6 header-brand no-indents text-xs-center text-sm-center text-md-left text-lg-left">
          {{ page.header_brand }}
        </div>
      {% endif %}

      {% if page.header_search %}
        <div class = "col-lg-2 col-lg-push-8 col-md-2 col-md-push-8 col-sm-3 col-xs-3 header-search no-indents">
            {{ page.header_search }}
        </div>
      {% endif %}

      {% if page.header_nav %}
        <div class = "col-lg-8 col-lg-pull-2 col-md-8 col-md-pull-2 col-sm-12 col-xs-12 header-nav">
            {{ page.header_nav }}
        </div>
      {% endif %}
    </div>
  </div>

  {% if page.header %}
    <header role="banner" id="myPage">
      {{ page.header }}
    </header>
  {% endif %}

  {{ page.highlighted }}

  <main role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-content layout-content-normal">
      {{ page.content }}
    </div>{# /.layout-content #}
  </main>

    <footer role="contentinfo" id = "contact">
      <a href = "#myPage" class = "back-to-top"></a>
      <div class = "container-fluid">
        <div class = "row footer-top">
          <div class = "col-lg-3 col-md-6 col-sm-12">
              {{ page.footer_first }}
          </div>
          <div class = "col-lg-3 col-lg-push-6 col-md-6 col-sm-12">
              {{ page.footer_second }}
          </div>
          <div class = "clearfix hidden-xs hidden-sm hidden-lg"></div>
          <div class = "col-lg-3 col-lg-pull-3 col-md-6 col-sm-12">
              {{ page.footer_third }}
          </div>
          <div class = "col-lg-3 col-lg-pull-3 col-md-6 col-sm-12">
              {{ page.footer_four }}
          </div>
        </div>
      </div>
      {% if page.footer_nav %}
          <div class = "row footer-bottom">
            <div class = "col-lg-8 col-md-8 col-sm-12 col-xs-12">
                {{ page.footer_nav }}
            </div>
            <div class = "col-lg-4 col-md-4 col-sm-12 col-xs-12 footer-title">
                {{ page.footer_title }}
            </div>
          </div>
      {% endif %}
    </footer>

</div>{# /.layout-container #}
