{#
/**
 * @file
 * Template for a 2 column panel layout.
 *
 * This template provides a two column panel display layout, with
 * each column roughly equal in width.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - $content['left']: Content in the left column.
 *   - $content['right']: Content in the right column.
 */
#}
<div class="panel-2col" {% if css_id %}{{ css_id }}{% endif %} id = "our-team">
  <div class="panel-panel">
    {{ content.body }}
    {{ content.field_so }}
  </div>

  <div class="panel-panel">
    <h2>
      {{ label }}
    </h2>
    {{ content.field_position }}
    {{ content.body }}
  </div>
</div>
