// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

body {
  margin-top: 0;
}

h2 {
  color: #222222;
  font-size: 22px;
  font-weight: 600;
  line-height: 18px;
}

p {
  color: #848484;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}
.region-header-photo {
  height: 99vh;
  width: 100%;
  background: url(/themes/custom/task2/images/img.png);
  background-size: cover;
  border-top: 10px solid $green-default;
}

.hand-phone {
    position: absolute;
    bottom: 0;
    right: 30vh;
    img {
      height: 100%;
    }
  @media (max-width: $screen-sm-min) {
    display: none;
  }
  @media (min-width: $screen-sm-min) {
    display: none;
  }
  @media (min-width: $screen-md-min) {
    display: none;
  }
  @media (min-width: $screen-lg-min) {
    display: block;
  }
}

.site-branding-block {
  margin-top: 30vh;
  @media (max-width: $screen-sm-min) {
    margin-left: 5vh;
  }
  @media (min-width: $screen-sm-min) {
    margin-left: 5vh;
  }
  @media (min-width: $screen-md-min) {
    margin-left: 35vh;
  }
  @media (min-width: $screen-lg-min) {
    margin-left: 35vh;
  }
}

.navbar-brand {
  padding: 0;
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: white;
  float: none;
}

.navbar-brand:after {
  content: ".";
  color: $green-default;
}
.navbar-text {
  color: white;
  margin: 30px 0;
  font-size: 20px;
  display: block;
  float: none;
}
.platform {
  float: none;
  img {
    width: 22px;
    height: 22px;
  }
}
// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  padding-top: 35px;
  padding-bottom: 36px;
  background-color: $gray-default;
  text-align: center;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block,
.control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.col-sm-12 {
  padding: 0;
}

.circle-green {
  background-color: $green-default;
  display: inline-block;
  padding: 25px;
  border-radius: 100%;
}
.circle-black {
  display: inline-block;
  margin-right: 10px;
  > div {
    padding: 15px;
    border-radius: 100%;
    background-color: black;
    opacity: 0.5;
  }
}
.circle-black > div:hover {
  background-color: $green-default;
  opacity: 1;
}
ul.social-share {
    display: inline-block;
    padding: 20px 0;
  li {
    width: 35px;
    height: 35px;
    margin: 0 5px;
    display: inline-block;
    float: left;
    list-style: none;
    background-color: $gray-default;
    border-radius: 50%;
    cursor: pointer;
    i {
      color: white;
      line-height: 35px;
      font-size: 20px;
    }
  }
  li:hover {
    background-color: $green-default;
  }
}

nav ul.menu {
  display: inline-block;
  li {
    display: inline-block;
    a {
      color: $light-dark;
    }
  }
}

.landing-block {
  @media (max-width: $screen-sm-min) {
    padding: 40px 20px;
  }
  @media (min-width: $screen-sm-min) {
    padding: 40px 30px;
  }
  @media (min-width: $screen-md-min) {
    padding: 70px 100px;
  }
  @media (min-width: $screen-lg-min) {
    padding: 70px 200px;
  }
}

.col {
  padding: 20px 10px;
}

.bg-gray {
  background-color: $gray-default;
}

.row {
  margin-left: 0;
  margin-right: 0;
}
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}